.joggl-button {
	margin-right: 10px;
	max-width: 32px;
	opacity: 0.8;
}

.joggl-button:hover {
	opacity: 1.0;
	cursor: pointer;
}

.input-container {
	margin: 8px;
}

table {
	margin: 8px;
}

.popup {
	display: none;
	background-color: #fff;
	width: 256px;
	height: 128px;
	padding: 10px;
	z-index: 1000;
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
}

.popup > .close-popup {
	top: 0px;
	float: right;
}

.popup > .close-popup:hover {
    cursor: pointer;
}

.popup > input {
	margin-bottom: 8px;
}
